# تجاهل الاعتماديات والملفات التي يتم إنشاؤها تلقائياً
node_modules/
npm-debug.log

# تجاهل قاعدة البيانات
# الخادم سيقوم بإنشائها تلقائياً
*.db
*.db-journal

# تجاهل مجلدات بيئات التطوير
.idea/
.venv/

# ملفات النظام
.DS_Store
Thumbs.db